{% set preview_readmode = theme_mods.post_excerpt_link_text %}
{% set preview_length   = theme_mods.post_excerpt_length %}

{% if teaser_mode == 'full' %}
	{{ post.content }}
{% else %}
	<div class="entry-summary" itemprop="description">
		{% if post.thumbnail and theme_mods.feat_img_archive %}
			{% set width = theme_mods.feat_img_archive_width == 0 ? post.thumbnail.width : thumbnail.width %}
			{% set height = theme_mods.feat_img_archive_height == 0 ? post.thumbnail.height : thumbnail.height %}
			<a href="{{ post.link }}">
				<img class="featured-image" src="{{ post.thumbnail.src|resize(width, height) }}" srcset="{{ post.thumbnail.src|resize(width, height)|retina(1) }} 1x, {{ post.thumbnail.src|resize(width, height)|retina(2) }}  2x">
			</a>
		{% endif %}
		{{ post.get_preview(preview_length, false, preview_readmode) }}
		<div class="clearfix"></div>
	</div>
{% endif %}
