{#<?php#}
{% from 'icon.html.twig' import icon as icon %}
<ul class="pager" itemprop="pagination">
	{% if pagination.prev %}
		<li class="previous">
			<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">
				{{ icon('chevron-left') }} {{ __( 'Previous', 'maera_bs' ) }}
			</a>
		</li>
	{% endif %}

	{% if pagination.next %}
		<li class="next">
			<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">
				{{ __( 'Next', 'maera_bs' ) }} {{ icon('chevron-right') }}
			</a>
		</li>
	{% endif %}
</ul>
