<div class="entry-summary" itemprop="description">
	{% if post.thumbnail and theme_mods.feat_img_archive %}
		{% set width = theme_mods.feat_img_archive_width == 0 ? post.thumbnail.width : thumbnail.width %}
		{% set height = theme_mods.feat_img_archive_height == 0 ? post.thumbnail.height : thumbnail.height %}
		<img class="featured-image" src="{{ post.thumbnail.src|resize(width, height) }}" srcset="{{ post.thumbnail.src|resize(width, height)|retina(1) }} 1x, {{ post.thumbnail.src|resize(width, height)|retina(2) }}  2x">
	{% endif %}

	{% if teaser_mode == 'full' %}
		{{ post.content }}
	{% else %}
		{{ post.get_preview }}
	{% endif %}
	{{ shell.clearfix }}
</div>
